.glyphicon-red{
    color: red;
}
.glyphicon-green {
    color: green;
}

body {
    padding: 10px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    a {
        color: #00B7FF;
    }
}

#select-country{
    margin-left: 20px;
}

.config-row:hover{
    cursor: pointer;
}

.config-row td.vpn-sessions{
    text-align: right;
}

.config-row td.vpn-line-quality{
    text-align: right;
}