.glyphicon-red{
    color: red;
}
.glyphicon-green {
    color: green;
}

body {
    padding: 10px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    a {
        color: #00B7FF;
    }
}
